.photo-grid {
    margin: 0;
    padding: 0;
    width: fit-content;
    gap: 20.25px;
    display: grid;
    grid-template-columns: 113px 113px;

}

.first-page {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto 0;
    margin: 0 auto 0;
    background-image: url(../../images/Group\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 600px;


}





.buy-page {
    visibility: hidden;
    opacity: 0;
    margin: 0 auto 0;
    padding: 39px auto 0;
    width: 300px;
    height: 600px;
    background-image: url(../../images/2pageBack.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 0;
}

.buy-page_show {
    animation: showSection 4s forwards ease-in-out;
}

.first-page_hide {
    animation: hideSection 1.5s forwards linear;


}

.buy-page::after {
    content: "";
    position: absolute;
    width: 110.81px;
    height: 109.91px;
    right: 2.69px;
    top: 208.2px;
    background: url(../../images/ICHI-OCHA_KV-PRODUCT-\(4\).svg);
    rotate: -5.35deg;
    animation: myAnim 5s ease 0s infinite normal both;
}

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
        /* transform: scale(110%); */
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
        /* transform: scale(105%); */
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
        /* transform: scale(100%); */
    }
}

.photo-grid__title {
    display: block;
    padding: 0 auto;
    margin: 0 auto;

    color: #2D8957;
    width: 286.3px;
    height: 74px;

    font-style: italic;
    font-weight: 700;
    font-size: 31.8804px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    text-shadow: -0 -2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        -0 2px 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        -2px -0 0 #FFFFFF,
        2px -0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        2px 0 0 #FFFFFF,
        -1px -2px 0 #FFFFFF,
        1px -2px 0 #FFFFFF,
        -1px 2px 0 #FFFFFF,
        1px 2px 0 #FFFFFF,
        -2px -1px 0 #FFFFFF,
        2px -1px 0 #FFFFFF,
        -2px 1px 0 #FFFFFF,
        2px 1px 0 #FFFFFF,
        -2px -2px 0 #FFFFFF,
        2px -2px 0 #FFFFFF,
        -2px 2px 0 #FFFFFF,
        2px 2px 0 #FFFFFF,
        -2px -2px 0 #FFFFFF,
        2px -2px 0 #FFFFFF,
        -2px 2px 0 #FFFFFF,
        2px 2px 0 #FFFFFF,
        0.910868px 0.910868px 3.64347px #3CBA85;


}

.first-page:hover .photo-grid__title {

    transition: transform 1s both infinite;
    /* animation: myAnim 1s ease both; */

}

.photo-grid__span {
    text-decoration: solid;
    font-weight: bold;

}

.photo-grid__subtitle {
    display: block;

    width: max-content;
    margin: 10px auto 30.82px;
    height: 19px;

    font-style: italic;
    font-weight: 400;
    font-size: 16.3956px;
    line-height: 19px;
    text-align: center;

    color: #2D8957;
}

.photo-grid__title-span {
    font-size: 27.8497px;
    line-height: 33px;
}

.buy-page__title {
    display: block;
    position: relative;
    top: 75.06px;
    width: max-content;
    padding: 39.82px auto 0;
    /* margin-top: 39.82px; */
    margin: 0 auto 10px;
    color: #2D8957;


    animation: movingText 2s infinite both;
    font-style: italic;
    font-weight: 700;
    font-size: 35.2217px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;

    text-shadow: -0 -2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        -0 2px 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        -2px -0 0 #FFFFFF,
        2px -0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        2px 0 0 #FFFFFF,
        -1px -2px 0 #FFFFFF,
        1px -2px 0 #FFFFFF,
        -1px 2px 0 #FFFFFF,
        1px 2px 0 #FFFFFF,
        -2px -1px 0 #FFFFFF,
        2px -1px 0 #FFFFFF,
        -2px 1px 0 #FFFFFF,
        2px 1px 0 #FFFFFF,
        -2px -2px 0 #FFFFFF,
        2px -2px 0 #FFFFFF,
        -2px 2px 0 #FFFFFF,
        2px 2px 0 #FFFFFF,
        -2px -2px 0 #FFFFFF,
        2px -2px 0 #FFFFFF,
        -2px 2px 0 #FFFFFF,
        2px 2px 0 #FFFFFF,
        0.910868px 0.910868px 3.64347px #3CBA85;
}

@media screen and (max-width: 350px) {
    .buy-page__title {
        transform: scale(88%);
    }
}


.buy-page__buy-btn {
    display: block;
    color: #2D8957;
    position: absolute;
    top: 164.03px;
    left: 83.4px;


    animation: jello 3s ease 0s infinite normal both;
    font-style: italic;
    font-weight: 700;
    font-size: 26.3081px;
    line-height: 31px;
    text-transform: uppercase;
    margin: 15.09px auto;
    width: 133.2px;
    height: 37.11px;
    background: linear-gradient(180deg, #F1F9B7 0%, #C6EC9E 100%);
    border: 0.822127px solid #FFFFFF;
    border-radius: 32.8851px;
}

.buy-page__buy-btn:hover {
    animation: none;
    transform: scale(107%);
    background: salmon;
    border: #2D8957 solid;
    color: bisque;
    transition: transform 0.6s;
}

@keyframes showSection {

    0% {

        visibility: initial;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hideSection {

    0% {
        opacity: initial;
    }

    100% {

        opacity: 0;
    }
}