.photo-grid__item {
    margin: 0;
    padding: 0;
    width: 112.43px;
    height: 115.17px;
    font-size: 0;
    object-fit: cover;
    object-position: center;
    position: relative;
    background: linear-gradient(186.15deg, #F7FABA 0.42%, #C5EB9D 63.56%);

    border-radius: 27.5689px;
    position: relative;
    overflow: hidden;

}

.photo-grid__item:hover {
    border: solid salmon;
    transform: scale(110%);
    transition: transform 0.5s ease;
}

.photo-grid__item1 {

    border: solid rgba(32, 145, 66, 0.776);
    animation: movingFlare 1.1s linear both infinite;

}

.photo-grid__item2 {
    margin: 0;
    padding: 0;
    width: 112.43px;
    height: 115.17px;
    font-size: 0;
    object-fit: cover;
    object-position: center;
    position: relative;
    background: linear-gradient(186.15deg, #F7FABA 0.42%, #C5EB9D 63.56%);

    border-radius: 27.5689px;
    position: relative;
    overflow: hidden;
}

@keyframes jello {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}




@keyframes movingFlare {
    0% {
        transform: scale(100%);
    }

    25% {
        transform: scale(105%);
    }

    50% {
        transform: scale(110%);
    }

    75% {
        transform: scale(105%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes movingText {

    0%,
    35% {

        color: aqua;
        text-shadow: -0 -2px 0 #dd6767,
            0 -2px 0 #dd6767,
            -0 2px 0 #dd6767,
            0 2px 0 #dd6767,
            -2px -0 0 #dd6767,
            2px -0 0 #dd6767,
            -2px 0 0 #dd6767,
            2px 0 0 #dd6767,
            -1px -2px 0 #dd6767,
            1px -2px 0 #dd6767,
            -1px 2px 0 #dd6767,
            1px 2px 0 #dd6767,
            -2px -1px 0 #dd6767,
            2px -1px 0 #dd6767,
            -2px 1px 0 #dd6767,
            2px 1px 0 #dd6767,
            -2px -2px 0 #dd6767,
            2px -2px 0 #dd6767,
            -2px 2px 0 #dd6767,
            2px 2px 0 #dd6767,
            -2px -2px 0 #dd6767,
            2px -2px 0 #dd6767,
            -2px 2px 0 #dd6767,
            2px 2px 0 #dd6767,
            0.910868px 0.910868px 3.64347px #3CBA85;

    }

    100% {
        color: #2D8957;
        text-shadow: -0 -2px 0 #FFFFFF,
            0 -2px 0 #FFFFFF,
            -0 2px 0 #FFFFFF,
            0 2px 0 #FFFFFF,
            -2px -0 0 #FFFFFF,
            2px -0 0 #FFFFFF,
            -2px 0 0 #FFFFFF,
            2px 0 0 #FFFFFF,
            -1px -2px 0 #FFFFFF,
            1px -2px 0 #FFFFFF,
            -1px 2px 0 #FFFFFF,
            1px 2px 0 #FFFFFF,
            -2px -1px 0 #FFFFFF,
            2px -1px 0 #FFFFFF,
            -2px 1px 0 #FFFFFF,
            2px 1px 0 #FFFFFF,
            -2px -2px 0 #FFFFFF,
            2px -2px 0 #FFFFFF,
            -2px 2px 0 #FFFFFF,
            2px 2px 0 #FFFFFF,
            -2px -2px 0 #FFFFFF,
            2px -2px 0 #FFFFFF,
            -2px 2px 0 #FFFFFF,
            2px 2px 0 #FFFFFF,
            0.910868px 0.910868px 3.64347px #3CBA85;
    }
}