@keyframes showSection {

    0% {

        visibility: initial;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hideSection {

    0% {
        opacity: initial;
    }

    100% {

        opacity: 0;
    }
}

@keyframes scale {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(95%);
    }

    100% {
        transform: scale(100%);
    }

}

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
        /* transform: scale(110%); */
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
        /* transform: scale(105%); */
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
        /* transform: scale(100%); */
    }
}

@keyframes jello {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}




@keyframes movingFlare {
    0% {
        transform: scale(100%);
    }

    25% {
        transform: scale(105%);
    }

    50% {
        transform: scale(110%);
    }

    75% {
        transform: scale(105%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes movingText {

    0%,
    35% {

        color: aqua;
        text-shadow: -0 -2px 0 #dd6767,
            0 -2px 0 #dd6767,
            -0 2px 0 #dd6767,
            0 2px 0 #dd6767,
            -2px -0 0 #dd6767,
            2px -0 0 #dd6767,
            -2px 0 0 #dd6767,
            2px 0 0 #dd6767,
            -1px -2px 0 #dd6767,
            1px -2px 0 #dd6767,
            -1px 2px 0 #dd6767,
            1px 2px 0 #dd6767,
            -2px -1px 0 #dd6767,
            2px -1px 0 #dd6767,
            -2px 1px 0 #dd6767,
            2px 1px 0 #dd6767,
            -2px -2px 0 #dd6767,
            2px -2px 0 #dd6767,
            -2px 2px 0 #dd6767,
            2px 2px 0 #dd6767,
            -2px -2px 0 #dd6767,
            2px -2px 0 #dd6767,
            -2px 2px 0 #dd6767,
            2px 2px 0 #dd6767,
            0.910868px 0.910868px 3.64347px #3CBA85;

    }

    100% {
        color: #2D8957;
        text-shadow: -0 -2px 0 #FFFFFF,
            0 -2px 0 #FFFFFF,
            -0 2px 0 #FFFFFF,
            0 2px 0 #FFFFFF,
            -2px -0 0 #FFFFFF,
            2px -0 0 #FFFFFF,
            -2px 0 0 #FFFFFF,
            2px 0 0 #FFFFFF,
            -1px -2px 0 #FFFFFF,
            1px -2px 0 #FFFFFF,
            -1px 2px 0 #FFFFFF,
            1px 2px 0 #FFFFFF,
            -2px -1px 0 #FFFFFF,
            2px -1px 0 #FFFFFF,
            -2px 1px 0 #FFFFFF,
            2px 1px 0 #FFFFFF,
            -2px -2px 0 #FFFFFF,
            2px -2px 0 #FFFFFF,
            -2px 2px 0 #FFFFFF,
            2px 2px 0 #FFFFFF,
            -2px -2px 0 #FFFFFF,
            2px -2px 0 #FFFFFF,
            -2px 2px 0 #FFFFFF,
            2px 2px 0 #FFFFFF,
            0.910868px 0.910868px 3.64347px #3CBA85;
    }
}